<a href="https://colab.research.google.com/github/stnrsita/python_for_datascience/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**@create By : Dede Brahma Arianto S.Kom., M.Kom**

# Basic Python

## Variable

In [ ]:
#@title Variable

nama = 'Dede'
umur = 18
berat_badan = 87.5

In [ ]:
print("Nama :", nama)
print("Umur :", umur)
print("Berat Badan :", berat_badan)

Nama : Dede
Umur : 18
Berat Badan : 87.5

In [ ]:
#@title Variable with Input

nama2 = input("Masukkan Nama Anda: ")
umur2 = input("Masukkan Usia Anda: ")
berat_badan2 = input("Masukkan Berat Badan Anda: ")

Masukkan Nama Anda: dede 2
Masukkan Usia Anda: 17
Masukkan Berat Badan Anda: 71

In [ ]:
print("Nama :", nama2)
print("Umur :", umur2)
print("Berat Badan :", berat_badan2)

Nama : dede 2
Umur : 17
Berat Badan : 71

In [ ]:
#@title Calculate with Variable

tinggi_badan = 1.75
bmi = berat_badan / (tinggi_badan ** 2)

print("Berat Ideal :", bmi)

Berat Ideal : 28.571428571428573

In [ ]:
#@title Update Value Variable

umur2 = 22

In [ ]:
print("Nama :", nama)
print("Umur 1 :", umur)
print("Umur 2 :", umur2)
print("Berat Badan :", berat_badan)
print("Tinggi Badan :", tinggi_badan)
print("BMI :", bmi)

Nama : Dede
Umur 1 : 18
Umur 2 : 22
Berat Badan : 87.5
Tinggi Badan : 1.75
BMI : 28.571428571428573

In [ ]:
nama_1 = 'dede'
print(nama_1)

dede

## Komentar

In [ ]:
# ini adalah komentar
# nama = 'dede' # ini adalah variabel nama
# print(nama)
# block code, kemudian ctrl + /

## Data Type

In [ ]:
#@title Numeric Data Type

a = 10        # integer
b = 3.14      # float

In [ ]:
print("A :", a)
print("B :", b)

A : 10
B : 3.14

In [ ]:
#@title String Data Type

nama = "John Doe"   # string
alamat = 'Jl. Ahmad Yani No. 10'   # string

In [ ]:
print("Nama :", nama)
print("Alamat :", alamat)

Nama : John Doe
Alamat : Jl. Ahmad Yani No. 10

In [ ]:
#@title Boolean Data Type

benar = True      # boolean True
salah = False     # boolean False

In [ ]:
print(benar)

True

In [ ]:
#@title List Data Type

buah = ['apel', 'jeruk', 'mangga', 'pisang']  # list
angka = [1, 2, 3, 4, 5]                      # list

In [ ]:
print("Buah :", buah)
print("Angka :", angka)

Buah : ['apel', 'jeruk', 'mangga', 'pisang']
Angka : [1, 2, 3, 4, 5]

In [ ]:
#@title Tuple Data Type

hari = ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat')  #
bulan = ('Januari', 'Februari', 'Maret')

In [ ]:
print("Hari :", hari)
print("Bulan :", bulan)

Hari : ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat')
Bulan : ('Januari', 'Februari', 'Maret')

In [ ]:
#@title Set Data Type

buah = {'apel', 'jeruk', 'mangga', 'pisang'}  # set
angka = set([1, 2, 3, 4, 5])

In [ ]:
print("Buah :", buah)
print("Angka :", angka)

Buah : {'jeruk', 'apel', 'pisang', 'mangga'}
Angka : {1, 2, 3, 4, 5}

In [ ]:
#@title Dictionary Data Type

data = {'nama': 'John Doe', 'umur': 25, 'alamat': 'Jl. Ahmad Yani No. 10'}   # dictionary
# key (nama, umur, alamat)
# value (john doe, 25, jl.ahmad yani)

In [ ]:
print(data)

{'nama': 'John Doe', 'umur': 25, 'alamat': 'Jl. Ahmad Yani No. 10'}

In [ ]:
#@title Data Type Checking

# Tipe data integer
x = 5
print(type(x))    # Output: <class 'int'>

# Tipe data float
y = 3.14
print(type(y))    # Output: <class 'float'>

# Tipe data string
z = 'Hello, World!'
print(type(z))    # Output: <class 'str'>

# Tipe data boolean
a = True
print(type(a))    # Output: <class 'bool'>

# Tipe data list
b = [1, 2, 3, 4, 5]
print(type(b))    # Output: <class 'list'>

# Tipe data tuple
c = (1, 2, 3, 4, 5)
print(type(c))    # Output: <class 'tuple'>

# Tipe data set
d = {1, 2, 3, 4, 5}
print(type(d))    # Output: <class 'set'>

# Tipe data dictionary
e = {'nama': 'John Doe', 'umur': 25}
print(type(e))    # Output: <class 'dict'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

## Basic arithmetic operation

In [ ]:
#@title Penjumlahan

x = 10
y = 5
z = x + y
print(z)    # Output: 15

15

In [ ]:
#@title Pengurangan

x = 10
y = 5
z = x - y
print(z)    # Output: 5

5

In [ ]:
#@title Perkalian


x = 10
y = 5
z = x * y
print(z)    # Output: 50

50

In [ ]:
#@title Pembagian

x = 10
y = 5
z = x / y
print(z)    # Output: 2.0

2.0

In [ ]:
#@title Pembagian Bulat

x = 9
y = 3
z = x // y
print(z)    # Output: 3

3

In [ ]:
#@title Modulus

x = 13
y = 3
z = x % y
print(z)    # Output: 1

1

In [ ]:
#@title Pangkat


x = 2
y = 3
z = x ** y
print(z)    # Output: 8

8

## String Manipulation

In [ ]:
#@title Concatenation


a = "Halo"
b = "Dunia"
c = a + " " + b
d = a + b
print(c) # Output: "Halo Dunia"
print(d)

Halo Dunia
HaloDunia

In [ ]:
#@title Multiplication

a = "Halo "
b = a * 3
print(b) # Output: "Halo Halo Halo "

Halo Halo Halo

In [ ]:
#@title Indexing

# index, start = 0
# index positif = 0,1,2,3
# index negatif = -1, -2, -3
a = "Halo, Dunia!"

b = a[0]
c = a[2]
d = a[-1]
e = a[-12]
f = len(a)


print(a) # Output: "Halo, Dunia!"
print(b) # Output: "H"
print(c) # Output: "l"
print(d) # Output: "!"
print(e)
print(f)

Halo, Dunia!
H
l
!
H
12

In [ ]:
#@title Slicing
# start:end
# start:end:lompatan

a = "Halo Dunia"
b = a[0:6]
c = a[0:8:2]
d = a[:5]
print(b)
print(c) # Output: "Halo"
print(d)

Halo D
Hl u
Halo

In [ ]:
#@title Replace
# replace(oldvalue, newvalue)

a = "Halo Dunia"
b = a.replace("Dunia", "Semua")
print(b) # Output: "Halo Semua"

Halo Semua

In [ ]:
#@title Lowercase

a = "Halo Dunia"
b = a.lower()
print(b) # Output: "halo dunia"

halo dunia

In [ ]:
#@title Uppercase

a = "Halo Dunia"
b = a.upper()
print(b) # Output: "HALO DUNIA"

HALO DUNIA

In [ ]:
#@title Capitalize

a = "Halo Dunia"
b = a.capitalize()
print(b) # Output: "Halo dunia"

Halo dunia

In [ ]:
print(a.capitalize())

Halo dunia

In [ ]:
#@title Split

a = "Halo, Dunia, Semua"
b = a.split(", ")
print(type(a))
print(a[10])
print(b)
print(type(b))
print(b[2]) # Output: ["Halo", "Dunia", "Semua"]

<class 'str'>
a
['Halo', 'Dunia', 'Semua']
<class 'list'>
Semua

In [ ]:
#@title Join

a = ["Halo", "Dunia", "Semua"]
b = ", ".join(a)

print(type(a))
print(a)

print("========")
print(type(b))
print(b) # Output: "Halo, Dunia, Semua"

<class 'list'>
['Halo', 'Dunia', 'Semua']
========
<class 'str'>
Halo, Dunia, Semua

## Typecasting

In [ ]:
#@title Data Type Casting - Integer

x = '5'
y = int(x)

print(type(x))
print(y)    # Output: 5
print(type(y)) # Output: int

<class 'str'>
5
<class 'int'>

In [ ]:
#@title Data Type Casting - Float


x = '3'
y = float(x)
print(y)    # Output: 3.14
print(type(y)) # Output: float

3.0
<class 'float'>

In [ ]:
#@title Data Type Casting - String

x = 5
y = str(x)

print(type(x))
print(y)    # Output: '5'
print(type(y)) # Output: str

<class 'int'>
5
<class 'str'>

In [ ]:
#@title Data Type Casting - Boolean

x = ''
y = bool(x)
print(y)    # Output: False
print(type(y)) # Output: bool

False
<class 'bool'>

## Latihan

1. Buat contoh :
- Variabel
- Data type
- Arithmatic
- manipulation
- type casting

In [ ]:
#@title 1. Variables
name = "Siti"  # String
age = 21  # Integer
height = 160.5  # Float
is_student = True  # Boolean

# Print the variables
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is student:", is_student)

Name: Siti
Age: 21
Height: 160.5
Is student: True

In [ ]:
# Variables with Input
name2 = input("Masukkan Nama Anda: ")
age2 = input("Masukkan Usia Anda: ")
height2 = input("Masukkan Tinggi Badan Anda: ")

Masukkan Nama Anda: sita
Masukkan Usia Anda: 18
Masukkan Tinggi Badan Anda: 160

In [ ]:
print("Nama :", name2)
print("Umur :", age2)
print("Berat Badan :", height2)

Nama : sita
Umur : 18
Berat Badan : 160

In [ ]:
#@title 2. Data Types
# Numeric Data Type

a = 1        # integer
b = 18.3      # float
print("A :", a)
print("B :", b)

A : 1
B : 18.3

In [ ]:
# String Data Type

nama = "sita"   # string
alamat = 'Jl. Mata Ie'   # string

print("Nama :", nama)
print("Alamat :", alamat)

Nama : sita
Alamat : Jl. Mata Ie

In [ ]:
# Boolean Data Type

benar = True      # boolean True
salah = False     # boolean False

print(salah)

False

In [ ]:
# List Data Type

jurusan = ['Informatika', 'Manajemen', 'Hukum', 'Psikologi']  # list
angka = [1, 2, 3, 4, 5]                      # list

print("Jurusan :", jurusan)
print("Angka :", angka)

Jurusan : ['Informatika', 'Manajemen', 'Hukum', 'Psikologi']
Angka : [1, 2, 3, 4, 5]

In [ ]:
# Tuple Data Type

hewan = ('harimau', 'buaya', 'ular', 'belalang', 'marmut')
bunga = ('mawar', 'lavender', 'kamboja')

print("Hewan :", hewan)
print("Bunga :", bunga)

Hewan : ('harimau', 'buaya', 'ular', 'belalang', 'marmut')
Bunga : ('mawar', 'lavender', 'kamboja')

In [ ]:
# Set Data Type

bulan = {'Januari', 'Maret', 'Juli', 'Juni'}  # set
angka = set([1, 2, 3, 4, 5])

print("Bulan :", bulan)
print("Angka :", angka)

Bulan : {'Juli', 'Januari', 'Juni', 'Maret'}
Angka : {1, 2, 3, 4, 5}

In [ ]:
# Dictionary Data Type

data = {'name': 'Sita', 'age': 18, 'address': 'Jl. Mata Ie'}   # dictionary
# key (name, age, address)
# value (Sita, 18, Jl. Mata ie)

print(data)

{'name': 'Sita', 'age': 18, 'address': 'Jl. Mata Ie'}

In [ ]:
# 2. Arithmetic Operations
x = 10
y = 3

# Basic arithmetic
addition = x + y  # Penjumlahan
subtraction = x - y  # Pengurangan
multiplication = x * y  # Perkalian
division = x / y  # Pembagian
modulus = x % y  # Modulus (sisa bagi)
exponent = x ** y  # Eksponen (pangkat)

print("\nArithmetic Results:")
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Modulus:", modulus)
print("Exponent:", exponent)

Arithmetic Results:
Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponent: 1000

In [ ]:
# 3. String Manipulation
greeting = "Hello"
subject = "Indonesia"
full_greeting = greeting + " " + subject + "!"  # Concatenation (penggabungan)
print("Greeting:", full_greeting)

# Menambahkan baris kosong
print()

a = "Halo"
b = "Dunia"
c = a + " " + b
d = a + b
print(c) # Output: "Halo Dunia"
print(d)

Greeting: Hello Indonesia!

Halo Dunia
HaloDunia

In [ ]:
# 4. Type Casting
number_str = "100"  # String
number_int = int(number_str)  # Mengkonversi string ke integer

print("\nOriginal String:", number_str)
print("Converted to Integer:", number_int)

# Type casting in arithmetic
result = number_int + age  # Menambahkan integer hasil konversi dengan variabel lain
print("Result after casting and adding age:", result)

Original String: 100
Converted to Integer: 100
Result after casting and adding age: 121

2. Diberikan nomor telepon berikut.

phone_num = “+62801-0029-9000”

ganti “+62” menjadi “0” dan hilangkan simbol “-”

In [ ]:
# Nomor telepon yang diberikan
phone_num = "+62801-0029-9000"

# Mengganti "+62" dengan "0"
phone_num = phone_num.replace("+62", "0")

# Menghilangkan semua simbol "-"
phone_num = phone_num.replace("-", "")

# Cetak hasil
print("Nomor telepon setelah dimodifikasi:", phone_num)

Nomor telepon setelah dimodifikasi: 080100299000